{{ if or .Params.syntax .Site.Params.syntax }}
  {{ $syntaxLight := resources.Get "syntax/light.css" | resources.Minify }}
  {{ $syntaxDark  := resources.Get "syntax/dark.css"  | resources.Minify }}

  <style>
    @media not (prefers-color-scheme: dark) {
      {{ $syntaxLight.Content | safeCSS }}
    }
    @media (prefers-color-scheme: dark) {
      {{ $syntaxDark.Content | safeCSS }}
    }
  </style>
{{ end }}


<style>
  body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #ffffff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #191919;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #111111;
  }

  a {
    color: #3273dc;
    /*color: #ff5e6c;*/
  }

  .title {
    text-decoration: none;
    border: 0;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }
  code {
    padding: 2px 5px;
    background-color: #f2f2f2;
    border-radius: 4px;
  }

  pre code {
    color: #222;
    display: block;
    white-space: pre-wrap;
    font-size: 12px;
    overflow-x: auto;
    background-color: #f2f2f2;
    padding: 16px;
  }

  div.highlight pre {
    border-radius: 6px;
  }

  div.highlight code {
    color: unset;
    /* Uncomment to use the syntax style background color */
  }

  blockquote {
    border-left: 1px solid #999;
    color: #555555;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .helptext {
    color: #777777;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: #8b6fcb;
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #121212;
      /* background-color: #1C1B22; /* Firefox */
      /* background-color: #0B1416; /* Reddit */

      color: #eeeeee;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      color: #eeeeee;
    }

    a {
      color: #8cc2dd;
    }

    code {
      background-color: #242424;
      /* background-color: #2C2B32; /* Firefox */
      /* background-color: #1E1E1E; /* Reddit */
    }

    pre code {
      color: #dddddd;
      background-color: #242424;
      /* background-color: #2C2B32; /* Firefox */
      /* background-color: #1E1E1E; /* Reddit */
    }


    blockquote {
      color: #aaaaaa;
    }

    textarea,
    input {
      background-color: #242424;
      color: #dddddd;
    }

    .helptext {
      color: #aaaaaa;
    }
  }

</style>
